#include "..\gwc\gwc.h"
#include "TestGWCrc.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_DIALOG1 DIALOGEX 0, 0, 316, 184
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TestGWC"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
  DEFPUSHBUTTON     "OK", IDOK, 205, 163, 50, 14
  PUSHBUTTON        "Cancel", IDCANCEL, 259, 163, 50, 14
END

IDR_TESTGWC_MAIN MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello", IDM_FILE_NEW
    MENUITEM "New &Rectangle", IDM_FILE_NEW_RECT
    MENUITEM "&Close", IDM_WINDOW_CLOSE, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tAlt + F4", IDM_FILE_EXIT
  END
END

IDR_TESTGWC_CHILD MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello", IDM_FILE_NEW
    MENUITEM "New &Rectangle", IDM_FILE_NEW_RECT
    MENUITEM "&Close", IDM_WINDOW_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tAlt + F4", IDM_FILE_EXIT
  END
  POPUP "&Window"
  BEGIN
    MENUITEM "&Tile", IDM_WINDOW_TILE
    MENUITEM "&Arrange", IDM_WINDOW_ARRANGEICONS
    MENUITEM "&Close", IDM_WINDOW_CLOSEALL
  END
END

IDR_TESTGWC_CHILD2 MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello", IDM_FILE_NEW
    MENUITEM "New &Rectangle", IDM_FILE_NEW_RECT
    MENUITEM "&Close", IDM_WINDOW_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tAlt + F4", IDM_FILE_EXIT
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Split", IDM_WINDOW_TILE
  END
  POPUP "&Window"
  BEGIN
    MENUITEM "&Tile", IDM_WINDOW_TILE
    MENUITEM "&Arrange", IDM_WINDOW_ARRANGEICONS
    MENUITEM "&Close", IDM_WINDOW_CLOSEALL
  END
END
